In [2]:
import pandas as pd
import numpy as np

#공공데이터 농축산물원천조사가격정보 데이터프레임 생성
df101 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202101.csv')
df102 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202102.csv')
df103 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202103.csv')
df104 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202104.csv')
df105 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202105.csv')
df106 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202106.csv')
df107 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202107.csv')
df108 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202108.csv')
df109 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202109.csv')
df110 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202110.csv')
df111 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202111.csv')
df112 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202112.csv')
df201 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202201.csv')
df202 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202202.csv')
df203 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202203.csv')
df204 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202204.csv')
df205 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202205.csv')
df206 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202206.csv')
df207 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202207.csv')
df208 = pd.read_csv('/content/drive/MyDrive/Colab_Datas/원천조사가격정보_202208.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
#데이터 프레임 리스트 생성
dlist = [df101,df102,df103,df104,df105,df106,df107,df108,df109,df110,
         df111,df112,df201,df202,df203,df204,df205,df206,df207,df208]

#불필요한 열 삭제
for i in dlist :
  i.drop(['EXAMIN_SE_CODE','STD_PRDLST_CODE','EXAMIN_PRDLST_CODE','STD_SPCIES_CODE',
              'EXAMIN_SPCIES_CODE','STD_UNIT_CODE','STD_UNIT_NM','BFRT_PRIC','AREA_CODE',
              'STD_MRKT_CODE','EXAMIN_MRKT_CODE','STD_MRKT_NM','EXAMIN_MRKT_NM'],axis=1,inplace=True)

In [4]:
#년도와 월을 구분하는 Month 열 추가
df101['Month'] = "21.01"
df102['Month'] = "21.02"
df103['Month'] = "21.03"
df104['Month'] = "21.04"
df105['Month'] = "21.05"
df106['Month'] = "21.06"
df107['Month'] = "21.07"
df108['Month'] = "21.08"
df109['Month'] = "21.09"
df110['Month'] = "21.10"
df111['Month'] = "21.11"
df112['Month'] = "21.12"
df201['Month'] = "22.01"
df202['Month'] = "22.02"
df203['Month'] = "22.03"
df204['Month'] = "22.04"
df205['Month'] = "22.05"
df206['Month'] = "22.06"
df207['Month'] = "22.07"
df208['Month'] = "22.08"

In [5]:
#데이터 프레임 연결
df =  pd.concat([df101,df102,df103,df104,df105,df106,df107,df108,df109,df110,
         df111,df112,df201,df202,df203,df204,df205,df206,df207,df208],ignore_index = True)

In [6]:
#(결측치)누락이 있는 행 삭제
df.dropna()
df.drop(['EXAMIN_PRDLST_NM','EXAMIN_SPCIES_NM'],axis=1,inplace=True)

In [7]:
#감자 행 추출
dfPotato = df.loc[df['STD_SPCIES_NM']=='수미']
dfPotato

,EXAMIN_DE,EXAMIN_NM,STD_PRDLST_NM,STD_SPCIES_NM,EXAMIN_GRAD_CODE,EXAMIN_GRAD_NM,EXAMIN_UNIT_NM,TODAY_PRIC,AREA_NM,Month
1249,2021-01-29,도매가격,감자,수미,1,상(1등급),20KG,33000,서울서부,21.01
1250,2021-01-28,도매가격,감자,수미,1,상(1등급),20KG,33000,서울서부,21.01
1251,2021-01-27,도매가격,감자,수미,1,상(1등급),20KG,36300,서울서부,21.01
1252,2021-01-26,도매가격,감자,수미,1,상(1등급),20KG,36300,서울서부,21.01
1253,2021-01-25,도매가격,감자,수미,1,상(1등급),20KG,36300,서울서부,21.01
...,...,...,...,...,...,...,...,...,...,...
1475989,2022-08-05,소비자가격,감자,수미,1,상(1등급),100G,390,경남창원,22.08
1475990,2022-08-04,소비자가격,감자,수미,1,상(1등급),100G,390,경남창원,22.08
1475991,2022-08-03,소비자가격,감자,수미,1,상(1등급),100G,450,경남창원,22.08
1475992,2022-08-02,소비자가격,감자,수미,1,상(1등급),100G,450,경남창원,22.08
1475993,2022-08-01,소비자가격,감자,수미,1,상(1등급),100G,450,경남창원,22.08