In [23]:
import pandas as pd
import numpy as np
#공공데이터 농축산물원천조사가격정보 읽어오기
df101 = pd.read_csv('/content/원천조사가격정보_202101.csv')
df102 = pd.read_csv('/content/원천조사가격정보_202102.csv')
df103 = pd.read_csv('/content/원천조사가격정보_202103.csv')
df104 = pd.read_csv('/content/원천조사가격정보_202104.csv')
df105 = pd.read_csv('/content/원천조사가격정보_202105.csv')
df106 = pd.read_csv('/content/원천조사가격정보_202106.csv')
df107 = pd.read_csv('/content/원천조사가격정보_202107.csv')
df108 = pd.read_csv('/content/원천조사가격정보_202108.csv')
df109 = pd.read_csv('/content/원천조사가격정보_202109.csv')
df110 = pd.read_csv('/content/원천조사가격정보_202110.csv')
df111 = pd.read_csv('/content/원천조사가격정보_202111.csv')
df112 = pd.read_csv('/content/원천조사가격정보_202112.csv')
df201 = pd.read_csv('/content/원천조사가격정보_202201.csv')
df202 = pd.read_csv('/content/원천조사가격정보_202202.csv')
df203 = pd.read_csv('/content/원천조사가격정보_202203.csv')
df204 = pd.read_csv('/content/원천조사가격정보_202204.csv')
df205 = pd.read_csv('/content/원천조사가격정보_202205.csv')
df206 = pd.read_csv('/content/원천조사가격정보_202206.csv')
df207 = pd.read_csv('/content/원천조사가격정보_202207.csv')
df208 = pd.read_csv('/content/원천조사가격정보_202208.csv')

#감자 목록 찾아오기

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,EXAMIN_DE,EXAMIN_SE_CODE,EXAMIN_NM,STD_PRDLST_CODE,STD_PRDLST_NM,EXAMIN_PRDLST_CODE,EXAMIN_PRDLST_NM,STD_SPCIES_CODE,STD_SPCIES_NM,EXAMIN_SPCIES_CODE,...,STD_UNIT_NM,EXAMIN_UNIT_NM,TODAY_PRIC,BFRT_PRIC,AREA_CODE,AREA_NM,STD_MRKT_CODE,STD_MRKT_NM,EXAMIN_MRKT_CODE,EXAMIN_MRKT_NM
0,2022-08-31,6,도매가격,6108,고등어류,611,고등어,610898,고등어(수입),4,...,NaN,20KG,79300,79300,1102,서울서부,1005601.0,가락동농수산물시장,11,서울가락동도매시장
1,2022-08-30,6,도매가격,6108,고등어류,611,고등어,610898,고등어(수입),4,...,NaN,20KG,79300,79300,1102,서울서부,1005601.0,가락동농수산물시장,11,서울가락동도매시장
2,2022-08-29,6,도매가격,6108,고등어류,611,고등어,610898,고등어(수입),4,...,NaN,20KG,79300,79300,1102,서울서부,1005601.0,가락동농수산물시장,11,서울가락동도매시장
3,2022-08-26,6,도매가격,6108,고등어류,611,고등어,610898,고등어(수입),4,...,NaN,20KG,79300,79300,1102,서울서부,1005601.0,가락동농수산물시장,11,서울가락동도매시장
4,2022-08-25,6,도매가격,6108,고등어류,611,고등어,610898,고등어(수입),4,...,NaN,20KG,79300,79300,1102,서울서부,1005601.0,가락동농수산물시장,11,서울가락동도매시장
5,2022-08-24,6,도매가격,6108,고등어류,611,고등어,610898,고등어(수입),4,...,NaN,20KG,79300,79300,1102,서울서부,1005601.0,가락동농수산물시장,11,서울가락동도매시장
6,2022-08-22,6,도매가격,6108,고등어류,611,고등어,610898,고등어(수입),4,...,NaN,20KG,79300,79300,1102,서울서부,1005601.0,가락동농수산물시장,11,서울가락동도매시장
7,2022-08-19,6,도매가격,6108,고등어류,611,고등어,610898,고등어(수입),4,...,NaN,20KG,79300,79300,1102,서울서부,1005601.0,가락동농수산물시장,11,서울가락동도매시장
8,2022-08-18,6,도매가격,6108,고등어류,611,고등어,610898,고등어(수입),4,...,NaN,20KG,79300,79300,1102,서울서부,1005601.0,가락동농수산물시장,11,서울가락동도매시장
9,2022-08-16,6,도매가격,6108,고등어류,611,고등어,610898,고등어(수입),4,...,NaN,20KG,79300,79300,1102,서울서부,1005601.0,가락동농수산물시장,11,서울가락동도매시장